@charset "utf-8";
/*
覆写原css的部分样式
*/
body{min-height: 100%;position: relative;font-size: 12px;color:#333; background-color:#fafafa}
.mainnav > ul > li{display:inline-block;color:#fff;font-size:12px;font-weight:bold}/*设置字体*/
.table th,.table td{padding:4px;line-height:20px}
label,.placeholder{font-size: 12px;}
.form .row{margin-top:4px}
.dataTables_wrapper .dataTables_info {clear: both;float: left;padding-top:10px;font-size:12px; color:#666}
.dataTables_wrapper .dataTables_paginate .paginate_button {border: 1px solid #ccc;cursor: pointer;display: inline-block;margin-left: 2px;text-align: center;text-decoration: none;color: #666;height: 23px;line-height: 23px;text-decoration: none;margin: 0 0px 6px 6px;padding: 0 10px;font-size:12px}
.breadcrumb{border-bottom: 1px solid #E5E5E5;line-height: 30px; height: 30px;padding-left:20px;overflow:hidden;font-size:12px;font-family:"Microsoft Yahei";}
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 23px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.layui-layer-title{padding: 0 80px 0 10px;height: 35px;line-height: 35px;border-bottom:1px solid #D5D5D5;font-size: 12px;color:#333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background-color:#EAEAEA}
/*鼠标悬停样式*/
.table-hover tbody tr:hover td,.table-hover tbody tr:hover th{background-color: #2E98E4;}
/*鼠标选择整行样式*/
.table tbody tr.selected td {background-color: #2E98E4;color: white;}
/*dataTables分页样式*/
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {background:#2E98E4;color:#fff}
/***
Portlets
***/
.portlet  {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
}
.portlet-title {
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
 .line{
 display:block;border-bottom:1px solid #333;
      }
.portlet-title:after,
.portlet-title:before {
  content: "";
  display: table;
  line-height: 0;
}

.portlet-title:after {
  clear: both;
}

.portlet-title .caption {
    position:absolute;
    top:15px;
    left:0;
    padding:0 8px;
    right:0;
    font-size: 12px;
    font-weight: 400;
    height:25px;
}


.portlet-title .caption i {
  float: left;
  margin-top: 5px;
  display: inline-block !important;
  font-size: 12px;
  margin-right: 0px;
  color: #666;
}

.portlet.blue > .portlet-title .caption, .portlet-title.blue .caption,
.portlet.green > .portlet-title .caption, .portlet-title.green .caption,
.portlet.yellow > .portlet-title .caption, .portlet-title.yellow .caption,
.portlet.red > .portlet-title .caption, .portlet-title.red .caption,
.portlet.purple > .portlet-title .caption, .portlet-title.purple .caption,
.portlet.grey > .portlet-title .caption, .portlet-title.dark-grey .caption, {
  color: #fff;
}

.portlet.box.blue > .portlet-title .caption > i,
.portlet.box.green > .portlet-title .caption > i,
.portlet.box.grey > .portlet-title .caption > i,
.portlet.box.yellow > .portlet-title .caption > i,
.portlet.box.red > .portlet-title .caption > i,
.portlet.box.purple > .portlet-title .caption > i,
.portlet.box.light-grey > .portlet-title .caption > i{
  color: #fff;
}

.sortable .portlet .portlet-title {
  cursor: move;
}

.portlet-title .actions
 {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  float: right;
}

.portlet-title .tools > a {
  display: inline-block;
  height: 16px;
  margin-left:5px;
}

.portlet-title .dropdown-menu i {
  color: #000 !important;
}

.portlet-title .tools > a.remove {
  background-image:url(../images/portlet-remove-icon.png);
  background-repeat: no-repeat;
  width: 11px;
}

.portlet-title .tools > a.config {
  background-image:url(../images/portlet-config-icon.png);
  background-repeat: no-repeat;
  width: 12px;
}

.portlet-title .tools > a.reload {
  background-image:url(../images/portlet-reload-icon.png);
  width: 13px;

}

.portlet-title .tools > a.expand {
  background-image:url(../images/portlet-expand-icon.png);
  width: 14px;
}

.portlet-title .tools > a.collapse {
  background-image:url(../images/portlet-collapse-icon.png);
  width: 14px;
}

.portlet-title .tools > a:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity:.6;
  filter:'alpha(opacity=60)';
}

.portlet-title .actions > .btn-group {
  margin-top: -12px;
}

.portlet-title .actions > .btn {
  padding: 4px 10px;
  margin-top: -13px;
}

.portlet-title .actions > .btn-group > .btn {
  padding: 4px 10px;
  margin-top: -1px;
}

.portlet-title .actions > .btn.mini {
  margin-top: -12px;
  padding: 4px 10px;
}

.portlet-title .pagination.pagination-small {
  float: right !important;
  display: inline-block !important;
  margin: 0px;
  margin-top: -2px;
}

.portlet-body {
  clear: both;
  padding: 0;
  font-size:12px;
}

.portlet-body.light-blue, .portlet.light-blue {
  background-color: #bfd5fa  !important;
}

.portlet-body.blue, .portlet.blue {
  background-color: #73d6f3 !important;
}

.portlet-body.red, .portlet.red {
  background-color: #e02222 !important;
}

.portlet-body.yellow, .portlet.yellow {
  background-color: #ffb848 !important;
}

.portlet-body.green, .portlet.green {
  background-color: #35aa47 !important;
}

.portlet-body.purple, .portlet.purple {
  background-color: #852b99 !important;
}

.portlet-body.light-grey, .portlet.light-grey {
  background-color: #fafafa !important;
}

.portlet-body.dark-grey, .portlet.dark-grey {
  background-color: #555555 !important;
}

.portlet-body .btn-toolbar {
  margin: 0px !important;
  padding: 0px !important;
}

.portlet-body .btn-group {
  margin: 0px !important;
  padding: 0px !important;
  margin-bottom: 10px !important;
}

/*  draggable girds */

.ui-sortable-placeholder {
    border: 1px dotted black;
    visibility: visible !important;
    height: 100% !important;
}

.ui-sortable-placeholder * {
  visibility: hidden;
}

.sortable-box-placeholder {
  background-color: #f5f5f5;
  border: 1px dashed #DDDDDD;
  display: block;
  /* float: left;*/
  margin-top: 0px !important;
  margin-bottom: 24px !important;
}

.sortable-box-placeholder * {
  visibility:hidden;
}

/***
Solid colored portlet
***/
.portlet.solid {
  padding: 10px;
}

.portlet.solid .portlet-title .tools {
  margin-top: 2px;
  border: 0px;
}

.portlet.solid .portlet-title {
  margin-bottom: 5px;
  border: 0px;
}

.portlet.solid.bordered .portlet-title {
  margin-bottom: 15px;
}

.portlet.solid.red .portlet-title,
.portlet.solid.red .portlet-title i,
.portlet.solid.red .portlet-body,

.portlet.solid.green .portlet-title,
.portlet.solid.green .portlet-title i,
.portlet.solid.green .portlet-body,

.portlet.solid.yellow .portlet-title,
.portlet.solid.yellow .portlet-title i,
.portlet.solid.yellow .portlet-body,

.portlet.solid.grey .portlet-title,
.portlet.solid.grey .portlet-title i,
.portlet.solid.grey .portlet-body,

.portlet.solid.purple .portlet-title,
.portlet.solid.purple .portlet-title i,
.portlet.solid.purple .portlet-body,

.portlet.solid.blue .portlet-title,
.portlet.solid.blue .portlet-title i,
.portlet.solid.blue .portlet-body {
  border: 0;
  color: #fff;
}

.portlet.bordered {
  border-left: 2px solid #ddd;
}

/***
Box portlet
***/


.portlet.box {
   padding:0px !important;
   border: 1px solid #73d6f3;
   background-color: #73d6f3;
}

.portlet.box .portlet-title > .actions > .btn > i {
  color: #fff !important;
}

.portlet.box .portlet-title .tools {
    position:absolute;
    top:3px;
    right:3px;
}

.portlet.box .portlet-title .tools > a.remove,
.portlet.solid .portlet-title .tools > a.remove {
  background-image:url(../images/portlet-remove-icon-white.png);
}

.portlet.box .portlet-title .tools > a.config,
.portlet.solid .portlet-title .tools > a.config {
  background-image:url(../images/portlet-config-icon-white.png);
}

.portlet.box .portlet-title .tools > a.reload,
.portlet.solid .portlet-title .tools > a.reload {
  background-image:url(../images/portlet-reload-icon-white.png);
}

.portlet.box .portlet-title .tools > a.expand,
.portlet.solid .portlet-title .tools > a.expand {
  background-image:url(../images/portlet-expand-icon-white.png);
}

.portlet.box .portlet-title .tools > a.collapse,
.portlet.solid .portlet-title .tools > a.collapse {
  background-image:url(../images/portlet-collapse-icon-white.png);
}

/* portlet buttons */
.portlet.box .portlet-body {
  background-color: #fff;
  padding: 0px;
  hight:30px;
}

.portlet.box .portlet-title {
   padding:8px 10px 2px 10px;
   border-bottom: 1px solid #c3ced9;
   color: #000;
   margin-bottom: 0px;
   background-color: #c3ced9;
   height:40px;
}

.portlet.box.blue .portlet-title {
  background-color: #c3ced9;
}

.portlet.box.blue {
   border: 1px solid #c3ced9;
}

.portlet.box.red .portlet-title {
  background-color: #e02222;
}

.portlet.box.red {
   border: 1px solid #ef8476;
   border-top: 0;
}

.portlet.box.yellow .portlet-title {
  background-color: #ffb848;
}

.portlet.box.yellow {
   border: 1px solid #fccb7e;
   border-top: 0;
}

.portlet.box.green .portlet-title {
  background-color: #39A9BF;
}

.portlet.box.green {
   border: 1px solid #39A9BF;
   border-top: 0;
}

.portlet.box.purple .portlet-title {
  background-color: #59b359;
}

.portlet.box.purple {
   border: 1px solid #59b359;
   border-top: 0;
}

.portlet.box.grey .portlet-title {
  background-color: #9DABB0;
}

.portlet.box.grey {
   border: 1px solid #9d9c9c;
   border-top: 0;
}

.portlet.box.light-grey .portlet-title {
  background-color: #aaa;
}

.portlet.box.light-grey {
   border: 1px solid #eee;
   border-top: 0;
}


.tabBar {
    border-bottom: 2px solid #617775;
}
.tabBar span {
    background-color:#EFF0F0;
    color:#065B69;
    cursor:pointer;
    display:inline-block;
    float:left;
    font-weight:bold;
    height:30px;
    line-height:30px;
    padding:0 15px;
    border: 0px solid #617775;
}
.tabBar span.current {
    background-color:#2AC2EF;
    border: 0px solid #617775;
    color:#fff;
}

ul.ztree {
    margin-top: 10px;
    border: 1px solid #617775;
    background-color: #f9f9f9;
    width:220px;
    height:100%;
    overflow-y:auto;
    overflow-x:auto;
}

.m-wrap{
    font-size:12px;
    width:90%;
    margin-left: 0px;
}

.pf-wrap{
    font-size:10px;
    width:80%;
    margin-left: 0px;
}


.btn-primary{
      color:#fff;
      font-size:12px;
      background-color:#2EBAE4;
      background-image: linear-gradient(to bottom, #2EBAE4, #2EBAE4);
      *background-color:#5A98DE;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active{
      color:#fff;
      background-color:#F05A5A;
      background-image: linear-gradient(to bottom, #F05A5A, #F05A5A);
      border-color:#0a6999;
}
.row-query{
      color:#000000;
      background-color: #d8f2f9;
      float: initial;
      font-size:12px;
}

.input-query{
    width:100px;
}

.ztree * {font-size: 10pt;font-family:"Microsoft Yahei",Verdana,Simsun,"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","Helvetica Neue",Arial}
.ztree li ul{ margin:0; padding:0}
.ztree li {line-height:30px;}
.ztree li a {width:200px;height:30px;padding-top: 0px; color: #000;}
.ztree li a:hover {text-decoration:none; background-color:#ffffff;width:100%;color:black}
.ztree li a span.button.switch {visibility:hidden}
.ztree.showIcon li a span.button.switch {visibility:visible}
.ztree li a.curSelectedNode {background-color:#73D6F3;border:0;height:30px;width:100%;}
.ztree li span {line-height:30px;}
.ztree li span.button {margin-top: -7px;}
.ztree li span.button.switch {width: 16px;height: 16px;}
.ztree li a.level0 span {font-size: 120%;font-weight: bold;color:#2C1E1E}
.ztree li a.level1 span {font-size: 110%;font-weight: bold;color:#2C1E1E}
.ztree li span.button {background-image:url("../images/left_menuForOutLook.png"); *background-image:url("../images/left_menuForOutLook.gif")}
.ztree li span.button.switch.level0 {width: 20px; height:20px}
.ztree li span.button.switch.level1 {width: 20px; height:20px}
.ztree li span.button.noline_open {background-position: 0 0;}
.ztree li span.button.noline_close {background-position: -18px 0;}
.ztree li span.button.noline_open.level0 {background-position: 0 -3px;}
.ztree li span.button.noline_close.level0 {background-position: -20px -25px;}
.leaf{font-size: 100%;font-weight: normal;color:#2C1E1E}




#Hui-nav{ margin-left:226px; margin-right:216px; background-color: #393d40;}
#Hui-nav > ul > li,#Hui-nav > ul > li > a{height:65px; line-height:65px}
.Hui-userbar{ position:absolute; top:0px; right: 0px; background-color: #1e2327; width: 216px;}
.Hui-logo,.Hui-logo-m{height:65px; margin-left:20px;cursor:pointer;font-size:16px; font-weight:bold; line-height:65px}
.Hui-subtitle{ font-size:12px; color:#eee; padding-top:24px}


.Hui-header{background-color: #febc48;}