ul li{ list-style:none;}
a{ text-decoration:none;font-size:18px;font-family:"Microsoft Yahei";}
.all{ width:100%; margin:auto;}
.ul_1{ overflow:hidden;padding-left:10px;}
.ul_1 li{ float:left; margin-left:20px; width:20%; height:120px; background-color:#187dcf; text-align:right; padding-right:30px;line-height:90px; border-radius:8px; -webkit-border-radius:8px;}
.ul_3 li{ line-height:90px; }
.ul_2{ overflow:hidden;margin:20px 30px;background:#ffffff;}
.ul_2 li{float:left;height:181px;margin:0px 10px;}
#u1_l1{ background:url(../../images/index/striaFlowDefine.png) no-repeat;background-size:cover;}
#u1_l2{ background:url(../../images/index/impExp.png) no-repeat;background-size:cover;}
#u1_l3{ background:url(../../images/index/metaData.png) no-repeat;background-size:cover;}
#u1_l4{ background:url(../../images/index/striaFlowDefine.png) no-repeat;background-size:cover;}
#u2_l1 {width:505px;}
#u2_l2 {width:5px;height:139px;margin:21px 0px;}
#u2_l3 {width:505px;}
.ul_3{ overflow:hidden;margin:20px 15px;}
.ul_3 li{float:left;height:200px;margin:5px 16px;width:30%;}
#u3_l1{ background:url(../../images/index/metaData.png) no-repeat;background-size:cover;}
#u3_l2{ background:url(../../images/index/serviceDefine.png) no-repeat;background-size:cover;}
#u3_l3{ background:url(../../images/index/contentData.png) no-repeat;background-size:cover;}
#u3_l4{ background:url(../../images/index/import.png) no-repeat;background-size:cover;}
#u3_l5{ background:url(../../images/index/impExp.png) no-repeat;background-size:cover;}
.a1 {font-size:18px;color:#ffffff;}
.a2 {margin-top:-60px;font-size:14px;}
.a3 {text-align:center;font-size:20px;color:#ffffff;margin:125px 0px 5px;}
.a4 {text-align:center;font-size:14px;color:moccasin;}
.flowColor {color:moccasin;}
.codeColor   {color:#689c2c;}
.a-mid {float:left;margin:58px 73px 20px;font-size:12px;color:#808080; }
.a-test {float:left;margin: 25px 0px 12px;color:#4d4d4d;}
.a-border {border-right:dashed #e6e6e6;font-size:12px;}
.assist {margin:58px -69px 9px;}
.compond {width:90px;text-align:center;}
.button {width:120px;height:40px;background-color:#217dd9;border-radius:5px;color:#ffffff;margin:110px 180px 0px;text-align:center;font-size:14px;line-height:34px;}
.bar {height:8px;margin:-65px 0px 0px 180px;width:120px;}
.succeed {margin:-65px 0px 0px 80px;color:#ff7366;font-size:36px;line-height:20px;width:100px;}
.failure {margin:-65px 0px 0px 370px;color:#bfbfbf;font-size:36px;line-height:20px;width:100px;}

.pf_left {width:63%;height:550px;float:left;margin:0px 22px 0px 2%;}
.pf_right {width:30%;height:550px;float:left;margin-right:2%;border-radius:5px;}

.pf_left  li {background-color:#fff;border-radius:5px;}
#userImage {background:url(../../images/userImage.png) no-repeat;background-size:cover;width:90px;height:90px;margin:20px 0px 0px 20px;float:left;}
.lu_l1 {height:45px;}
.lu_l2 {height:160px;}
.lu_l3 {height:330px;}
.notice {line-height:3em;margin-left:15px;color:#001f61;}
.riskWarning {color:#4d4d4d;width:100%;text-align:center;display:block;margin:5px 0px;}
.prodManage {margin:10px 20px 10px 20px;float:left;color:#4d4d4d;}
.prodMenu {background-color:#efefef;width:88%;height:30px;margin:0px 20px 10px;float:left;line-height:2em;}
.otherMenu {text-align:center;width:88%;height:30px;margin:0px 20px 10px;float:left;line-height:2em;border:solid thin #446bbd;color:#446bbd}
.memoLines {width:72%;height:70px;float:left;margin:0px 10px;border-bottom:solid thin #d3eaff;}
#userNotice {font-size:18px;color:#446bbd;margin-top:35px;}
#nowTime {float:left;color:#7d7d7d;margin-top:40px;}
#withDoing {font-size:18px;color:#7d7d7d;margin-top:35px;}
#doingNum {font-size:18px;color:#eb6100;margin-top:35px;}
.dataMenu {margin-right:42%;color:#4d4d4d;}
.accounting {width:48%;height:155px;float:left;text-align:right;}
.midLine {width:1%;height:115px;float:left;margin-top:20px;border-right:dashed 2px #e8ecf1;}
.paraManage {width:48%;height:155px;float:left;text-align:right;}
.paraDataSelect {height:25px;text-align:center;border:solid thin #448aca;}
.prodAndService {height:55px;text-align:center;background-color:#5e85d7;border-radius:5px 5px 0px 0px;}
.pageGoto {background-color:#fff;height:500px;border-radius:0px 0px 5px 5px;}
.prodMenu a{padding:0px 4%;}
.prodAttr {color:#4d4d4d;}
.prodAttrInfo {color:#446bbd;}
.doingInfo {float:left;width:80%;height:70px;margin:10px 0px 10px 3%;}
.doingInfo  li {width:50%;list-style-image:url(../../images/triangle.png);float:left;}

