<configuration scan="true" scanPeriod="2 seconds">
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/galaxy-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>[%X{platformId}] %date %level [%replace(%thread){'DubboServerHandler-',''}] %logger{10}.%class{0}#%method[%file:%line] %n%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SIFTING" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>logid</key>
            <defaultValue>Ensemble</defaultValue>
        </discriminator>
        <sift>
            <appender name="SIFT-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <prudent>true</prudent>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>logs/${logid}/galaxy-%d{yyyy-MM-dd}-${logid}-%i.log</fileNamePattern>
                    <maxHistory>30</maxHistory>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>5MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <encoder>
                    <pattern>[%X{platformId}] %date %level [%replace(%thread){'DubboServerHandler-',''}] %logger{35} %n%msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/galaxy-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>[%X{platformId}] %date %level [%replace(%thread){'DubboServerHandler-',''}] %logger{10}.%class{0}#%method[%file:%line] %n%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="batchEod" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/galaxy-batch-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>[%X{platformId}] %date %level [%replace(%thread){'DubboServerHandler-',''}] %logger{10}.%class{0}#%method[%file:%line] %n%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%X{platformId}] %level [%replace(%thread){'DubboServerHandler-',''}] %logger{10}.%class{0}#%method[%file:%line] %n%msg%n</pattern>
        </layout>
    </appender>

    <root level="error">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="ROLLING"/>-->
        <appender-ref ref="SIFTING"/>
        <appender-ref ref="errorAppender"/>
    </root>


    <logger name="com.dcits.galaxy.business.batch" level="debug" additivity="false">
        <appender-ref ref="batchEod"/>
    </logger>

    <logger name="com.alibaba.cobar.client.router.rules.ibatis" level="info"/>
    <logger name="com.jd" level="warn"/>
    <logger name="com.jd.bdp.hydra.mysql.persistent.dao" level="warn"/>
    <logger name="java.sql.Connection" level="warn"/>
    <logger name="org.mybatis" level="warn"/>
    <logger name="com.dcits.galaxy.cache" level="warn"/>
    <!--<logger name="com.dcits.galaxy" level="debug"/>-->
    <logger name="com.dcits.galaxy.util" level="warn"/>
    <logger name="com.dcits.galaxy.dal" level="warn"/>
    <logger name="com.dcits.galaxy.dtp" level="warn"/>
    <logger name="com.dcits.galaxy.common.validate" level="warn"/>
    <logger name="com.dcits.galaxy.business" level="warn"/>
    <logger name="com.dcits.galaxy.business.batch.dao.BatchDao" level="warn"/>
    <logger name="com.dcits.galaxy.spring.GalaxyBeanPostProcessor.GalaxyBeanPostProcessor" level="warn"/>
    <logger name="com.dcits.galaxy.stria.engine.StriaEngineFactory" level="debug"/>
    <logger name="com.dcits.galaxy.stria.model.AbstractServiceModel" level="debug"/>
    <logger name="com.dcits.galaxy.stria" level="debug"/>
    <logger name="com.dcits.galaxy.stria.dao" level="error"/>
    <logger name="com.dcits.galaxy.stria.core.Runner" level="debug"/>
    <logger name="com.dcits.galaxy.stria.utils.StriaUtil" level="debug"/>
    <logger name="com.dcits.galaxy.stria.mapping.RequestMapping" level="warn"/>
    <logger name="com.dcits.ensemble" level="debug"/>
    <logger name="com.dcits.ensemble.dao.DataAccessor" level="warn"/>
    <logger name="com.dcits.ensemble.fm.dao" level="warn"/>
    <logger name="com.dcits.ensemble.product.dao" level="warn"/>
    <logger name="com.dcits.ensemble.product.business.BaseProductDefine" level="info"/>
	<logger name="com.dcits.limarket" level="debug" />

</configuration>