
body {
	  background:#ffffff url(../../images/login/login-bg.png)no-repeat center center fixed;
  	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
    padding-top:0;
}
form {

    width: 300px;
    height:316px;
    padding:37px 30px 57px 30px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-230px;
    margin-left:-180px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
}
input {
    width: 246px;
    height: 40px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:0px;
    padding-right:0px;
    margin-top:30px;
    margin-bottom:30px;
}

input[type=submit] {
    cursor:pointer;
}

input.name{
      padding-left:54px;
	  background: rgba(255, 255, 255, 0.4) url(../../images/login/input-userName.png) no-repeat scroll 13px 6px;

}
input.password{
	  background: rgba(255, 255, 255, 0.4) url(../../images/login/input-password.png) no-repeat scroll 13px 6px;
	  padding-left:54px;
}

::-webkit-input-placeholder {	
	color: #fff;
}

:-moz-placeholder{ 	
    color: #fff; 
}

::-moz-placeholder {	
    color: #fff;
}

:-ms-input-placeholder {  	
	color: #fff; 
}

input:focus{ 
	background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
	overflow: hidden;
}

.btn {
 	 width:300px;
 	 height:40px;
	  -moz-border-radius: 4px;
	  -webkit-border-radius: 4px;
	  border-radius: 4px;
	  float:center;
    border: 1px solid #805100;
    background: #805100;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff9933));
    background: -webkit-linear-gradient(top, #ffcc00, #ff9933);
    background: -moz-linear-gradient(top, #ffcc00, #ff9933);
    background: -ms-linear-gradient(top, #ffcc00, #ff9933);
    background: -o-linear-gradient(top, #ffcc00, #ff9933);
    background-image: -ms-linear-gradient(top, #ffcc00 0%, #ff9933 100%);
    padding: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    font-family:"Microsoft YaHei";
    color: #ffffff;
}

.btn:hover {
    border: 1px solid #805100;
    text-shadow: #333333 0 1px 0;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff9933));
    background: -webkit-linear-gradient(top, #ffcc00, #ff9933);
    background: -moz-linear-gradient(top, #ffcc00, #ff9933);
    background: -ms-linear-gradient(top, #ffcc00, #ff9933);
    background: -o-linear-gradient(top, #ffcc00, #ff9933);
    background-image: -ms-linear-gradient(top, #ffcc00 0%, #ff9933 100%);
    font-family:"Microsoft YaHei";
    color: #e1e1e1;
 }

.btn:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #253737;
    background: #6da5a3;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#ff9933));
    background: -webkit-linear-gradient(top, #ff9900, #ff9933);
    background: -moz-linear-gradient(top, #ff9900, #ff9933);
    background: -ms-linear-gradient(top, #ff9900, #ff9933);
    background: -o-linear-gradient(top, #ff9900, #ff9933);
    background-image: -ms-linear-gradient(top, #ff9900 0%, #ff9933 100%);
    font-family:"Microsoft YaHei";
    color: #e1e1e1;
    -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
   }
p span.version{
	border: none;	
	height:20px;
	padding-left:10px;
	padding-right:10px;	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;		
	font-size:12px;
	color:#ffffff;
	background-color:#88ccff;
}
.copyright {
  width：300px;
  font-family:"Microsoft YaHei";
  text-align: center;  
  padding: auto;
  color: #ffffff;
  font-size: 12px;
  font-weight:700,
  margin-top:0;
  margin-bottom:50px;
}

.text{
  width:300px;
  font-family:"Microsoft YaHei";
  text-align: center;
  font-size:20px;
  color:#ffffff;    
  font-size: 25px;
  font-weight:900;  
  margin:0 auto;
}

.logoContent{
    position:absolute;
    top:30;
    left:0;
    height:48px;
    width:100%;
    padding：0;
    margin：30 0 0 0;
    border:none;
}
.logo{
    position:absolute;
    height:48px;
    width:147px;
    margin:0;
    padding:0;
    top:30px;
    left:30px;
    background: url(../../images/login/logo.png);
    border:none;
    float:left;
}
.msg{
    height:40px;
    width:358px;
    display:table;
    text-align:center;
    font-family:"宋体";
    border: 1px solid rgba(0,0,0,.4);
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position:absolute;
    top:100%;
    left:50%;
    margin-top:-120px;
    margin-left:-180px;
}
span.textMsg{
    height:14px;
    font-size:14px;
    line-height:14px;
    vertical-align:middle;
    display:inline-block;
    color:#dd5100;
    margin:13px auto;
}