<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL"
			value="tcp://119.253.84.71:61616?jms.prefetchPolicy.all=10" />
	</bean>
<!-- 
	<bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
		<property name="connectionFactory" ref="targetConnectionFactory" />
		<property name="maxConnections" value="10" />
	</bean>

	<bean id="connectionFactory"
		class="org.springframework.jms.connection.SingleConnectionFactory">
		<property name="targetConnectionFactory" ref="pooledConnectionFactory" />
	</bean>
 -->

	<bean id="reciecveDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="queue.dest" />
	</bean>

	<bean id="replyDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="queue.reply" />
	</bean>

	<!-- 消息监听器 -->
	<bean id="consumerMessageListener" class="com.dcits.galaxy.jms.server.SimpleDispathcer">
		<property name="jmsTemplate" ref="jmsTemplate" />
		<property name="enableReply" value="true" />
	</bean>
	
	<bean id="jmsTemplate" class="com.dcits.galaxy.jms.SyncJmsTemplate">
		<property name="connectionFactory" ref="targetConnectionFactory" />
		<property name="defaultDestination" ref="replyDestination" />
		<property name="receiveTimeout" value="1000" />
		<!-- 
		<property name="timeToLive" value="10000" />
		 -->
		<property name="explicitQosEnabled" value="true" />
		<property name="DeliveryPersistent" value="false" />
	</bean>

	<bean id="threadPool"
		class="org.springframework.scheduling.concurrent.ThreadPoolExecutorFactoryBean">
		<property name="corePoolSize" value="10" />
		<property name="maxPoolSize" value="10" />
	</bean>

	<!-- simple 消息监听容器 -->
	<bean id="jmsContainer"
		class="org.springframework.jms.listener.SimpleMessageListenerContainer">
		<property name="connectionFactory" ref="targetConnectionFactory" />
		<property name="destination" ref="reciecveDestination" />
		<property name="messageListener" ref="consumerMessageListener" />
		<property name="concurrentConsumers" value="4" />
		<!-- 
		<property name="taskExecutor" ref="threadPool" />
		 -->
		<property name="exposeListenerSession" value="false" />
		<property name="sessionAcknowledgeMode" value="2" />
	</bean>

<!-- 
	<bean id="jmsContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="queueDestination" />
		<property name="messageListener" ref="consumerMessageListener" />
		<property name="taskExecutor" ref="threadPool"/>
		<property name="concurrentConsumers" value="4" />
	</bean>
 -->
</beans>  
